{{define "content"}}
<div class="col-md-8">
<div class="row">
  <div class="col-xs-12 newImage_details brown_heading">
    <div id="cse-search-results" style="width: 400px;"></div>
    <script type="text/javascript">
	var googleSearchIframeName = "cse-search-results";
	var googleSearchFormName = "search";
	var googleSearchFrameWidth = 400;
	var googleSearchDomain = "www.google.com";
	var googleSearchPath = "/cse";
</script>
<script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
  
  </div> 
</div>
</div>
{{end}}